*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.lista{
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background: #f3e0d4;
    color: #5e6472;
    font-weight: bold;
}

.link-lista{
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.link-lista a:visited{
    text-decoration: line-through;
    color: #5e6472;
}

.link-lista:hover{
    background: #ede7e3;
    border-radius: 10px;
    transition: 0.5s all;
}

header{
    padding-top: 9px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

body { 
	font-family: monospace;
}

.opacity{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ede7e3;
    opacity: 0.2;

}

.container-header h1{
    letter-spacing: 5px;
    font-family: 'Staatliches', cursive;
    position: relative;
    z-index: 900;
    font-weight: 800;
    padding-top: 200px;
}

.container-header h2{
    font-size: 35px;
    position: relative;
    z-index: 900;
    font-weight: 200;

}

.container-header{
    width: 100%;
    height: 100vh;
    object-fit: contain ;  
    align-items: center;
    position: relative;
}

.container-header video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -1;
}


.inicio h2{
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 100px;
    color: #CCCCCC;
}

.container-inicio {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container-inicio p{
    font-size: 15px;
    line-height: 25px;
}

.container-inicio-txt{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.container-inicio-txt p{
    padding: 30px;
}

.tecnologias h2{
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 100px;
    color: #CCCCCC;
}

.container-tecnologias{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.row-tecnologias{
    box-shadow: 13px 16px 31px -7px rgba(0,0,0,0.66);
    -webkit-box-shadow: 13px 16px 31px -7px rgba(0,0,0,0.66);
    -moz-box-shadow: 13px 16px 31px -7px rgba(0,0,0,0.66);
    border-radius: 5px;
    border: 1px rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.row-tecnologias i{
    cursor: pointer;
    color: gray;
    font-size: 70px;
    padding: 20px;
}

.fa-html5:hover{
    color: #DD4B25;
}

.fa-css3-alt:hover{
    color:#146EB0;
}

.fa-js-square:hover{
    color: #F7DF1E;
}

.fa-git-alt:hover{
    color:#E94E31;
}

.fa-bootstrap:hover{
    color: #533B78;
}

.fa-react:hover{
    color: #146EB0;
}

.fa-sass:hover{
    color: #C76494;
}

.fa-less:hover{
    color:#2A4C80;
}

.fa-wordpress:hover{
    color:#207196;
}

.experiencia h2{
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 100px;
    color: #CCCCCC;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.imagen{
    cursor: pointer;
    width: 500px;
    object-fit: cover;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container-titulo{
    max-width: 1075px;
    margin: auto;
}


.titulo-contacto{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* padding: 100px; */
    color: #CCCCCC;
}

.container-contacto img{
    margin-top: 50px;
    width: 100%;
}

.contacto{
    box-shadow: 0px -1px 27px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 27px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 27px -6px rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 50px 25px 50px 0px;
    margin-left: 200px;
    margin-right:200px ;
    margin-top: 150px;
    display: flex;
}

.formulario input{
    background: #89B0AE !important;
    border-radius:  16px !important;
}

.formulario textarea{
    background: #89B0AE;
    border: none;
    border-radius: 16px ;
}

#textarea{
    height: 100px;
}

.formulario textarea::placeholder{
    border: none;
    color: white;
    padding: 10px;

    /* height: 50px !important; */
}

.formulario input::placeholder{
    color: white;
    padding: 10px;
}

.formulario a {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 24px;
    text-align: center;
    background: #89B0AE;
}

.formulario a {
    background: #89B0AE;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formulario a:hover{
    transition: 0.5s all ;
    background: #546b6a;
}

.redes {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.redes i{
    transition: 0.5s all;
    cursor: pointer;
    font-size: 20px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 50%;
}

.redes i:hover{ 
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}


.derechos{
    margin-top: 150px;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;;
    background: #39374E;
    color: white;
}